:root {
  --content-width: 50rem;

  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue-dark);
}

body {
  background-color: var(--blue-medium);
  color: var(--black);
  font-family: var(--humanist-fonts);
  margin: 0;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--medium);
}

main {
  display: flex;
  flex-direction: column;
}

section {
  margin: 0;
  padding: var(--large) var(--medium);

  h2 {
    margin: var(--medium) auto var(--medium);
    max-width: var(--content-width);
  }
}

#Photos {
  background-color: var(--blue-light);
  border-bottom: var(--border-thin);
  border-top: var(--border-thin);
  display: grid;
  gap: var(--medium);
  grid-template-columns: repeat(3, 25%);
  justify-content: center;

  img {
    border-radius: var(--thin);
    border: var(--border);
    box-shadow: var(--shadow);
    margin: 0 auto;
    max-width: 100%;
  }
}

#Projects {
  display: grid;
  gap: var(--medium);
}

@media screen and (hover: hover) {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
