:root {
  /* Color Hues */
  --hue-blue: 210deg;
  --hue-green: 100deg;
  --hue-indigo: 240deg;
  --hue-magenta: 315deg;
  --hue-orange: 35deg;
  --hue-purple: 270deg;
  --hue-red: 0deg;
  --hue-teal: 185deg;
  --hue-yellow: 55deg;

  /* Base Colors */
  --black: #000;
  --shade: #0003;
  --tint: #fffc;
  --white: #fff;

  /* Light Colors */
  --blue: hsl(var(--hue-blue) 90% 76%);
  --foreground: var(--black);
  --fade: var(--tint);
  --gray: #eeeeee;
  --green: hsl(var(--hue-green) 90% 76%);
  --indigo: hsl(var(--hue-indigo) 90% 82%);
  --magenta: hsl(var(--hue-magenta) 90% 79%);
  --orange: hsl(var(--hue-orange) 90% 65%);
  --purple: hsl(var(--hue-purple) 90% 80%);
  --red: hsl(var(--hue-red) 90% 74%);
  --teal: hsl(var(--hue-teal) 90% 78%);
  --unfade: var(--shade);
  --yellow: hsl(var(--hue-yellow) 90% 73%);

  /* Fonts */
  --humanist-fonts: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --neo-grotesque-fonts: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
  --slab-serif-fonts: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  --system-fonts: system-ui, sans-serif;

  /* Sizes */
  --control-small: 2rem;
  --control: 3rem;
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;
  --thin: 2px;

  /* Speeds */
  --fast: 75ms ease-out;
  --slow: 150ms ease-out;
  --very-slow: 300ms ease-out;

  /* UI */
  --border: 1px solid var(--black);
  --shadow-collapsed: 0 0 0 var(--black);
  --shadow: var(--tiny) var(--tiny) 0 var(--black);
}

body {
  color: var(--black);
  font-family: var(--humanist-fonts);
}

neu-avatar:not(:defined),
neu-block:not(:defined),
neu-button:not(:defined),
neu-card:not(:defined),
neu-checkbox:not(:defined),
neu-input:not(:defined),
neu-number:not(:defined),
neu-radio:not(:defined),
neu-select:not(:defined),
neu-slider:not(:defined),
neu-textarea:not(:defined),
neu-toggle:not(:defined) {
  display: none;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --blue: hsl(var(--hue-blue) 100% 28%);
    --fade: var(--shade);
    --foreground: var(--white);
    --gray: #50555a;
    --green: hsl(var(--hue-green) 100% 25%);
    --indigo: hsl(var(--hue-indigo) 65% 35%);
    --magenta: hsl(var(--hue-magenta) 90% 30%);
    --orange: hsl(var(--hue-orange) 100% 30%);
    --purple: hsl(var(--hue-purple) 70% 30%);
    --red: hsl(var(--hue-red) 100% 27%);
    --teal: hsl(var(--hue-teal) 100% 30%);
    --unfade: var(--tint);
    --yellow: hsl(var(--hue-yellow) 100% 30%);
  }

  body {
    color: #fffe;
  }
}
