:root {
  /* Neutrals */
  --black: rgb(20 20 20);
  --white: rgb(254 248 239);

  /* Utilities */
  --dark: rgb(20 20 20 / 0.125);
  --darker: rgb(20 20 20 / 0.3);
  --darkest: rgb(20 20 20 / 0.6);
  --light: rgba(254 248 239 / 0.25);
  --lighter: rgba(254 248 239 / 0.5);
  --lightest: rgba(254 248 239 / 0.75);

  /* Colors */
  --blue: rgb(124 168 207);
  --cyan: rgb(176 224 223);
  --green: rgb(123 181 141);
  --orange: rgb(243 186 84);
  --pink: rgb(243 185 195);
  --purple: rgb(180 157 242);
  --red: rgb(240 132 93);
  --orange: rgb(243 186 84);
  --yellow: rgb(231 216 125);

  /* Fonts */
  --humanist-fonts: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;

  /* Sizes */
  --control-small: 1.75rem;
  --control: 3rem;
  --huge: 4rem;
  --large: 2rem;
  --medium: 1rem;
  --small: 0.5rem;
  --tiny: 0.25rem;
  --thin: 2px;

  /* Speeds */
  --fast: 75ms ease-out;
  --slow: 150ms ease-out;
  --very-slow: 300ms ease-out;

  /* UI */
  --border: 1px solid var(--black);
  --shadow-collapsed: 0 0 0 var(--black);
  --shadow: var(--tiny) var(--tiny) 0 var(--black);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: var(--humanist-fonts);
}

neu-avatar:not(:defined),
neu-block:not(:defined),
neu-button:not(:defined),
neu-card:not(:defined),
neu-checkbox:not(:defined),
neu-input:not(:defined),
neu-number:not(:defined),
neu-radio:not(:defined),
neu-select:not(:defined),
neu-slider:not(:defined),
neu-textarea:not(:defined),
neu-toggle:not(:defined) {
  display: none;
}
